<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__top-inner">
      <a class="header__logo">
          design agency
      </a>
      <nav class="menu">
        <button class="menu__btn">
          <span class="line-menu half start"></span>
          <span class="line-menu"></span>
          <span class="line-menu half end"></span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#solutions">
              Решения
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#works">
              Проекты
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#contacts">
              О нас
            </a>
          </li>
        </ul>
      </nav>
      <div class="request-btn">
        <a class="header__btn" href="mailto:designagency@gmail.com">
          Сделать запрос
        </a>
      </div>
    </div>
    <div class="header__info">
      <h1 class="header__title" data-aos="fade-up" data-aos-duration>
        Брендинг и UX/UI дизайн агентство
      </h1>
      <p class="header__text">
        Мы предлагаем самые современные решения, которые делают вас заметными!
      </p>
    </div>
  </div>
</header>