<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__top-inner">
      <div class="header__logo">
        <a href="#">
          design agency
        </a>
      </div>
      <nav class="menu">
        <div class="menu__btn">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul class="menu__list">
          <li>
            <a href="#">
              Решения
            </a>
          </li>
          <li>
            <a href="#">
              Блог
            </a>
          </li>
          <li>
            <a href="#">
              О нас
            </a>
          </li>
        </ul>
      </nav>
      <div class="request-btn">
        <a class="header__btn" href="#">
          Сделать запрос
        </a>
      </div>
    </div>
    <div class="header__info">
      <div class="header__title">
        Брендинг и UX/UI дизайн агентство
      </div>
      <div class="header__text">
        Мы предлагаем самые современные решения, которые делают вас заметными!
      </div>
    </div>
  </div>
</header>