@media (max-width: 1350px){
  .swiper-button-next{
    right: 20px;
  }
  .swiper-button-prev{
    left: 20px;
  }
}
@media (max-width: 1150px){
  .features__items{
    flex-wrap: wrap;
  }
  .features__item{
    margin-bottom: 30px;
  }
  .info__inner{
    flex-wrap: wrap;
  }
  .info__box{
    margin-right: 15px;
    margin-bottom: 40px;
  }
  .info__box-title::before {
    bottom: -30px;
  }
  .clients{
    padding: 170px 0 140px;
  }
  .clients__title {
    margin-bottom: 140px;
  }
  .clients__items{
    flex-wrap: wrap;
    &-img{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .footer__contacts{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__contact{
    margin-right: 30px;
    margin-top: 60px;
  }
}
@media (max-width: 950px){
  .header__top-inner{
    flex-wrap: wrap;
    padding-top: 38px;
  }
  .request-btn{
    width: 100%;
    margin-top: 15px;
  }
  .menu{
    margin-right: 0;
  }
  .menu__list li{
    & + li{
      margin-left: 25px;
    }
  }
  .info{
    padding: 140px 0 100px;
  }
  .info__box-content{
    font-size: 65px;
    line-height: 73px;
  }
  .info__box-projects{
    right: 30px;
  }
  .info__box-hours{
    right: -10px;
  }
  .info__box-awards{
    right: 55px;
  }
  .swiper-button-next,
  .swiper-button-prev{
    display: none;
  }
}

@media (max-width: 600px){
  .footer__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__social-link{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .footer__contact{
    margin-top: 110px;
    padding-left: 0;
    margin-right: 0;
  }
  .footer__contact-email {
    max-width: 280px;
  }
  .footer__contact-info::after{
    left: 110px;
    top: -115px;
  }
  .footer__contact-email::after{
    left: 105px;
    top: -85px;
  }
  .footer__contact-adres::after{
    left: 110px;
    top: -90px;
  }
  .menu__list{
    display: none;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    a{
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $bg;
    }
    li{
      display: block;
      & + li{
        margin-left: 0;
      }
      &:first-child{
        border-top: 1px solid $bg;
      }
    }
  }
  // start burger menu
  .menu__btn {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 330ms ease-out;
  }
  .menu__btn.open {
    transform: rotate(-45deg);  
  }
  .line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 5px;
  }
  .line-menu.half {
    width: 50%;
  }
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  // end burger menu
  .header__title{
    font-size: 40px;
    line-height: 48px;
  }
  .header__text {
    font-size: 22px;
    line-height: 30px;
  }
  .features__item{
    margin-bottom: 70px;
    &-img{
      margin-bottom: 30px;
    }
  }
  .more__btn{
    margin-left: 0px;
    margin-top: 20px;
  }
  .features__items{
    margin: 0 auto 40px;
  }
  .newsletter__inner{
    &-title{
    font-size: 20px;
    line-height: 28px;
    }
    &-form{
      button{
        padding: 13px 20px;
      }
      input{
        padding-left: 35px;
        padding-right: 175px;
      }
    }
  }
  .footer__copy-text{
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 425px){
  .header__title{
    font-size: 32px;
    line-height: 40px;
  }
  .header__text {
    font-size: 20px;
    line-height: 28px;
  }
  .title{
    font-size: 45px;
    line-height: 53px;
  }
  .info__box{
    &-content{
      font-size: 45px;
      line-height: 53px;
    }
    &-title{
      font-size: 35px;
      line-height: 43px;
    }
    &-projects{
      right: 60px;
    }
    &-hours{
      right: 30px;
    }
    &-awards {
      right: 80px;
    }
  }
  .work__item{
    width: auto;
    &-title{
      font-size: 18px;
      line-height: 26px;
    }
    &-content::before{
      right: 14px;
    }
    .icon-green::before{
      right: 13px;
      bottom: 58px;
    }
    .icon-black::before{
      right: 13px;
      bottom: 58px;
    }
  }
  .newsletter__inner{
    &-form{
      button{
        padding: 13px 60px;
        border-radius: 42px;
        left: 50%;
        transform: translate(-50%, 150%);
      }
      input{
        padding-right: 50px;
      }
    }
  }
  .newsletter{
    padding: 110px 0 150px;
  }
}
@media (max-width: 350px){
  .menu__btn{
    position: absolute;
    right: 20px;
    top: 100px;
  }
  .request-btn{
    width: 220px;
  }
  .info__box{
    margin-right: 0;
    &-title::before{
      left: 60px;
    }
  }
  .work__item-img{
    .img-btn{
      width: 170px;
    }
  }
  .footer__contact-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .footer__contact-info::after {
    left: 100px;
  }
}


@media (min-width: 601px){
  .menu__list{
    display: block !important;
  }
}
@media (min-width: 951px){
  .swiper-pagination-bullet{
    display: none;
  }
}